h1.red{
	text-shadow: 2px 2px 5px blue;
	color: #e90666;
}

h2.red
{
	text-shadow: 2px 2px 5px blue;
	color: #e90666;
}

h2.blue
{

}

h3.blue{	

	text-shadow: 2px 2px 5px blue;
	color: #68e9f8;
}

h3.blue.td
{
	text-align: left;
}
h3.green{
	
	
	text-shadow: 2px 2px 5px blue;
	color: #32e906;
}

h3.red{
		
	text-shadow: 2px 2px 5px blue;
	color: #e90666;
}

div{
	background-color: #010d21;
	font-family: Courier;
	color: #d5c9c9;
}
div.row{
	padding-left:10px;
}


p{		
	padding:5px;
    color: #3dff44;
}

a{
	color: hotpink;
}

h6.green
{
	color: #32e906;
}

