h1.center{

	text-align: center;
	font-size: 4em;	
	text-shadow: 2px 2px 5px blue;
	color: #eff868;
}

h2.center{
	text-align: center;
	font-size: 4em;	
	text-shadow: 2px 2px 5px blue;
	color: #ac68f8;
}

h3.blue{
	text-align: center;
	font-size: 2em;	
	text-shadow: 2px 2px 5px blue;
	color: #68e9f8;
}
h3.green{
	text-align: center;
	font-size: 2em;	
	text-shadow: 2px 2px 5px blue;
	color: #32e906;
}

h3.red{
	text-align: center;
	font-size: 2em;	
	text-shadow: 2px 2px 5px blue;
	color: #e90666;}

p{
	font-size: 1.4em;
}
body{
	/*background: url(bg.png) left top repeat;*/
	background-color: #303533;
	font-family: Verdana;
	color: #d5c9c9;
}

img.notgallery{
	border-radius: 8px;
	max-width: 90%;
}

a{
	color: hotpink;
}

img.gallery{
	/*border: 1px solid hotpink;
    border-radius: 4px;*/
    padding: 1px;
    width: 95%;
    height:50%;
}

div.gallery{
	float: left;
    width: 50%;
}

img.gallery:hover {
    /*border: 1px solid #68e9f8;*/
}

.container{
	position: relative; 
	top:50%; 
	-webkit-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.center{
	padding-left: 200px;
}
.col-100 {width: 100%; float: left; padding: 10px;}
.col-25 {width: 25%;float:left;}
.col-75 {width: 75%;float:left; padding-bottom: 100px;}
.col-50 {width: 50%;float: left;}
.col-50-right{width: 50%;float: right;}